@import '../.././Styles/Styles.css';

.login-card {
    height: 50%;
    width: 60%;
    margin: 4% 0 0 20%;
}

.login-side-img {
    width: 100%;
    height: 725px;
}

.login-title {
    font-size: 25px !important;
    font-weight: bold !important;
}

.app-title {
    font-family:cursive !important;
    font-size: 35px !important;
    color: var(--text-color) !important;
}
  
.singUp-link {
    color: blue;
    cursor: pointer;
}